<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat User</title>
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/creatPage">creat</a>
        <!-- <a href="#contact">Contact</a>
        <a href="#about">About</a> -->
    </div>
    <form action="/creat-user" method="post">
        <fieldset>
            <legend>Login</legend>
            <div class="input-group">
                <label>username</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="input-group">
                <label>password</label>
                <input type="password" id="password" name="password">
            </div>
            <button>login</button>
        </fieldset>
    </form>
</body>

</html>