<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/creatPage">creat</a>
    </div>
    <form action="/update/<%=id%>" method="post">
        <fieldset>
            <legend>Login</legend>
            <div class="input-group">
                <label>username</label>
                <input type="text" id="username" name="username" value=<%=account.username%>>
            </div>
            <div class="input-group">
                <label>password</label>
                <input type="text" id="password" name="password" value=<%=account.password%>>
            </div>
            <button>save</button>
        </fieldset>
    </form>
</body>

</html>